.members-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.team-table {
  margin: 0 auto;
  border-collapse: collapse; 
  width: 100%; 
}


.team-table th,
.team-table td {
  border: 1px solid #ddd; 
  padding: 8px; 
}

.team-table th {
  background-color: #f4f4f4; 
  text-align: left; 
}

button {
  margin-right: 5px;
  padding: 5px 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 70%; 
  max-width: 800px; 
  border: 2px solid #4CAF50; 
  border-radius: 8px; 
}

.modal h2 {
  margin-top: 0;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  margin-top: 10px;
}

.modal input {
  margin-bottom: 10px;
}

.modal button {
  margin-top: 10px;
  padding: 10px 20px; 
  max-width: 150px; 
  align-self: flex-start;
}

.modal .update-btn, .modal .close-btn {
  margin-top: 10px;
  padding: 10px 20px; 
  max-width: 150px; 
}

.modal .update-btn, .change-btn, .add-btn {
  background-color: #4CAF50; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal .close-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal .update-btn:hover, .modal .close-btn:hover {
  opacity: 0.8; 
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}


.dropdown-menu {
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown-menu li {
  padding: 2px 6px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.dropdown-menu li:hover {
  background-color: #f1f1f1;
}

.add-member-btn {
  background-color: #59358a; 
  color: #ffffff; 
  border: none; 
  border-radius: 4px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-member-btn:hover {
  background-color: #301555; 
  transform: scale(1.05); 
}
.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures space between elements */
  margin-bottom: 10px; 
}

.search-bar-container input {
  width: 200px; 
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px; 
}