.navbar {
  width: 20%;
  background-color: black;
  /* background-color: #f8f9fa; */
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
  color: white;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.dashboard {
  font-weight: bolder;
  font-size: 24px !important; 
  font-size: 18px; 
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.dashboard a {
  text-decoration: none;
  color: white;
  width: 100%;
  display: block;
}

.heading {
  /* font-weight: bolder; */
  font-size: 18px; 
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.heading a {
  text-decoration: none;
  color: white;
  width: 100%;
  display: block;
}

.heading:hover {
  /* background-color: #e2e6ea; */
}


.dropdown {
  list-style-type: none;
  padding-left: 20px;
}


.subheading {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  justify-content: space-between; 
}

.subheading a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
}


.subheading:hover {
  background-color: #59358a; 
  transition: background-color 0.2s ease-in;
}

.subheading a:hover {
  color: white; 
}


@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: auto;
  }

  .dropdown {
    padding-left: 10px;
  }
}
