/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.content-container {
  display: flex;
  flex: 1;
}

.main-screen {
  flex: 4; /* 80% width */
  background-color: #f4f4f4;
  padding: 20px;
}